spring:
  application:
    name: expense-service
  
  #PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  #JPA
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # SQL Initialization
  sql:
    init:
      mode: always

server:
  port: 8091
