spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.dir}/../config-repo
  profiles:
    active: native  # Use local filesystem for config files

server:
  port: 8889

# Register with Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
